.form {
  &__group {
    margin-bottom: 1rem;
    label {
      font-size: 0.875rem;
      line-height: 1;
      vertical-align: top;
      margin-bottom: 0.5rem;
      display: inline-block;
    }
  }
}

input {
  border: 1px solid #ebedf2;
  font-size: 0.8125rem;
  padding: 15px 22px;
  display: block;
  width: 100%;
}
