// color
$primary-color: #efefef;

$theme-color: $primary-color;

$font-color: #212529;

// screen size
$large-screen: 1200px;

// color
$primary-gray: #858585;
$white: #fff;
$black: #000;
$primary-font-color: #303136;
$success-color: #4bb543;
$fail-color: #ee3b27;
$pending-color: #987579;
$primary-blue: #3e8bb5;
$header-border-color: #f0f1f2;
$body-background: #f2edf3;

$active-menu-color: $primary-blue;
$menu-color: rgb(62, 75, 91);
$dropdown-menu-color: #a2a2a2;
$card-background: $white;
$table-head-color: $black;

$heading-color: $black;

// font
$head-font: "Ubuntu", sans-serif;
$body-font: "Open Sans", sans-serif;
$body-font-size: 14px;
